.card-wrap{
  color: var(--light-color);
  background-color: var(--dark-color);
  width: 8.3rem;
  height: 6rem;
  margin: 0.25rem;
  border-bottom: var(--border-size) var(--medium-light-color);
  border-left: var(--border-size) var(--medium-light-color);
  box-shadow: var(--shadow-card-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-wrap p {
  margin: 0;
}

.card-header{
  font-size: 0.9rem;
  font-weight: 600;
}

.card-header p{
  margin-bottom: 0.2rem;
  color: var(--medium-light-color);
}

.fild-content{
  height: 5.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-content{
  border-radius: var(--border-radius);
  border-top: var(--border-size) var(--medium-light-color);
  border-right: var(--border-size) var(--medium-light-color);
  width: 5.0rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.price-title{
  border-radius: var(--border-radius);
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--medium-dark-color);
  height: 0.9rem;
  width: 100%;
}

.price{
  width: 3.6rem;
  font-size: 0.7rem;
}

.variation{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-size) var(--medium-light-color);
  border-radius: var(--border-radius);
  min-width: 2.60rem;
}

.percentage-negative{
  font-size: 0.9rem;
  color: #FF8273;
}

.percentage-positive{
  font-size: 0.9rem;
  color: var(--light-color);
}

.percentage{
  font-size: 0.6rem;
  color: var(--medium-dark-color);
}
