.section-content-component{
  height: 26rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.fild-text-section{
  font-size: 0.8rem;
}
