#root {
  width: 18rem;
  height: 35rem;
  text-align: center;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background: var(--dark-color);
  background-repeat: no-repeat;
  border: 2.5px solid var(--medium-light-color);
  border-radius: 8px;
  color: var(--light-color);
}

